@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;
//this scss only has the overall div (body)/html writing
html {
  text-size-adjust: 100%;
}

div {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
}

  figure {
    width: 10em;
    height: 10em;
    background-color: red;
  }

  ul {
    list-style: none;
    padding-right: 2em;
  }
