@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;
//this scss only has the overall div (body)/html writing
html {
  @include font-smoothing(on);
  font: $base-text-size / 1 $base-font-family;
  text-size-adjust: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: hsla(360, 100%, 1%, 0.89);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 5em;
  color: #fff;
}

div.box {
  padding-top: 2em;
  width: 150px;
  height: 120px;
  border: solid #fff 4px;
  border-radius: 50%;
}

figure {
  width: 90px;
  height: 160px;
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #fff;
}

ul {
  font-family: 'Raleway', sans-serif;
  list-style: none;
  padding-right: 2em;
  text-align: center;
}
